/*Midnight Blue = #003366,Cyan = #00ffff*/
body {
      position: relative;
    }
#welcome {
			padding-top:50px;
			height:50vh;
			color: #00ffff;
			background-color: #fff;
			text-align: center;
			background-image: url('./img/chapel.jpg'), url('./img/popinn.jpg');
			background-position: left top, right;
			background-repeat:no-repeat, no-repeat;
			background-size:25vh,25vh;
			background-attachment: fixed;
			width: 100%;
			overflow: hidden;
		}
#aboutus {
			padding-top:50px;
			height:50vh;
			color: #fff;
			background-color: #003366;
			text-align: left;
		}
#location {
			padding-top:50px;
			height:50vh;
			color: #000; 
			background-color: #fff;
			text-align: center;
		}
		#accomadations {
			padding-top:50px;
			height:50vh;
			color: #fff;
			background-color: #003366;
		}
#registry {
			padding-top:50px;
			height:50vh;
			color: #000;
			background-color: #fff;
		}
h1{
	width: 100vw;
	color: 00ffff;
	text-align: center;
}
h2{
	text-align: left;
}
.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: auto;
      margin: auto;
	  
	  overflow: hidden;
	  height: auto;
	  
  }
.carousel-caption{
	color: #00ffff;
	font-size: 2vw;
}
.carousel-caption h3{
	font-size: 3vw;
}

